
canvas{
    border: 1px solid black;
    width: 100%;
    cursor: grab;
}

canvas:active{
    cursor: grabbing;
}

.canvas-container{
    grid-area: canvas;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
}